body {
	font-family: Helvetica;
	text-align: center;
}

.questions {
	max-width: 400px;
	margin: auto;
	padding-bottom: 30px;
}

form {
	justify-content: center;
}

p {
	margin: 0 10px 0 10px;
}

.inputbox {
	margin: 10px auto;
	display: flex;
	justify-content: center;
	background: lightgray;
}

.question {
	display: flex;
	padding: 20px;
}

#container {
	margin-top: 30px;
}